body {
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
*{
    font-size: 15px;
}

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container-2 button{
    display: inline-block;
    margin: 5px;
}

.drop-container-2 {
    width:550px;
    position: relative;
    gap: 10px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover,
.drop-container.drag-active {
    background: #eee;
    border-color: #111;
}

.drop-container:hover .drop-title,
.drop-container.drag-active .drop-title {
    color: #222;
}

.drop-title {
    color: #444;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

.tx {
    width: 100%;
}

.tx td {
    padding: 5px;
}

.extraInput {
    width: 100%;
    border: 2px dashed #555;
    padding: 5px 15px;
    border-radius: 10px;
}

.extraButton {
    border-width: 0px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #084cdf;
    color: #fff;
    cursor: pointer;
}

.extraButton:hover {
    background-color: #0d45a5;
}

.center {
    margin: auto;
    width: 500px;
}

#error{
    color:red;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}
.label{
    color:#999;
    font-weight:bold;
    font-size:80%;
}
.group-value{
    padding:5px 3px;
}